<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						http://www.springframework.org/schema/security 
						http://www.springframework.org/schema/security/spring-security-5.3.xsd
		                http://www.springframework.org/schema/context 
		                http://www.springframework.org/schema/context/spring-context.xsd
		                http://www.springframework.org/schema/cache
		                http://www.springframework.org/schema/cache/spring-cache.xsd
		                http://www.springframework.org/schema/tx
		                http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<context:component-scan base-package="org.primefaces.paradise" />
	
	<bean id="applicationUserDetailsService" class="org.primefaces.paradise.security.ApplicationUserDetailsService"/>
	
	<bean id="authenticationSuccessHandlerManagerImpl" class="org.primefaces.paradise.security.AuthenticationSuccessHandlerManagerImpl"/>
	
	<bean id="authenticationFailureHandlerManagerImpl" class="org.primefaces.paradise.security.AuthenticationFailureHandlerManagerImpl"/>
	
	<bean id="bcrypt" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
	
	<sec:http pattern="/images/**" security="none"/>	
	<sec:http pattern="/javax.faces.resource/**" security="none"/>
	
	<sec:http auto-config="false" use-expressions="true" >
		<sec:csrf disabled="true"/>
		<sec:intercept-url pattern="/dashboard.xhtml*" access="hasRole('ROLE_USER')" />
		<sec:intercept-url pattern="/crud.xhtml*" access="hasRole('ROLE_USER')" />
		<sec:intercept-url pattern="/api.xhtml*" access="hasRole('ROLE_ADMIN')" />
		<sec:intercept-url pattern="/users.xhtml*" access="hasRole('ROLE_ADMIN')" />		
		<sec:intercept-url pattern="/error.xhtml*" access="isAuthenticated()" />
		<sec:intercept-url pattern="/forgotPassword.xhtml*" access="permitAll" />
		<sec:intercept-url pattern="/notfound.xhtml*" access="isAuthenticated()" />		
		<sec:intercept-url pattern="/access.xhtml*" access="isAuthenticated()" />
		<sec:intercept-url pattern="/login.xhtml*" access="permitAll"/>
		<sec:intercept-url pattern="/signUp.xhtml*" access="permitAll"/>
		<sec:intercept-url pattern="/landing.xhtml*" access="permitAll"/>
		<sec:intercept-url pattern="/**" access="denyAll" />
		
		<sec:form-login login-page="/login.xhtml" default-target-url="/dashboard.xhtml"  
			always-use-default-target="true"
			authentication-success-handler-ref="authenticationSuccessHandlerManagerImpl"
			authentication-failure-handler-ref="authenticationFailureHandlerManagerImpl"
			authentication-failure-url="/login.xhtml?error=loginError"/>			
		<sec:logout logout-url="/logout" invalidate-session="true"/>						
	</sec:http>
	
	<sec:authentication-manager>
		<sec:authentication-provider user-service-ref="applicationUserDetailsService">
			<sec:password-encoder ref="bcrypt" />			
		</sec:authentication-provider>
	</sec:authentication-manager>
	
</beans>